* {
font-family: JF;
direction: rtl;
box-sizing: border-box;
background-color: white;

}

@font-face {
font-family: 'JF';
src: url('../font/JF-Flat-regular.eot'); /* IE9 Compat Modes */
src: url('../font/JF-Flat-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('../font/JF-Flat-regular.woff') format('woff'), /* Pretty Modern Browsers */
   url('../font/JF-Flat-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
   url('../font/JF-Flat-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  background-color: #f2f2f4;
  overflow-x: hidden;
  margin-right: 15%;
  width:100%;
  height:100%;
  color: #777479;}


.iframe-cont {
  background-color: white;
}

/* NOTE: intro page */


/* NOTE: List content */

.page-header {
  margin-top: -3%;
}

p.in-title {
  font-size: 14px;
  font-family: JF, serif;
  line-height: 22px;
  font-weight: bold;
}

p.in-content {
  font-size: 14px;
  line-height: 25px;
  text-align: justify;
}

.gif-container{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.li-icons {
width: 2.5%;
height: 2.5%;
}

.gif-container img.gifs {
  width: 50%;
  height: 50%;
  border: none;
}

.iframe-cont::-webkit-scrollbar {
      display: none;
  }



/* NOTE: MEDIA QUERIES */

/* Macbook 15"*/

@media only screen and (min-width:1281px )and (max-width:1440px)

{
}

/* iMac */
@media only screen and (min-width:1441px )and (max-width:1920px) {

}



/* NOTE:  */
@media only screen and (max-width:768px) {

  .in-title {
    font-size: 16px;
  }
    p.para-content {
      font-size: 12px;
      line-height: 20px;
      text-align: right;
    }

    a.hamburger:hover, a.hamburger:visited, a.hamburger:active, a.hamburger:focus {
      background-color: transparent;
      border: none;
      color: white;
      box-shadow: none;
    }

    img.gifs {
      width: 100%;
      height: 100%;
    }

    .page-header {
      margin-top: .5%;
    }

}


/* iPhone Plus and smaller*/
@media only screen and (max-width:414px) {

  .sidebar-nav {
     position: absolute;
     top: 0;
     width: 500px;
     margin: 0;
     padding: 0;
     list-style: none;
  }

.logo {
margin-left: 50px;
margin-top: -9px;
}


  .top-title {
    color: white;
    text-align: center;
    margin-top: 9%;
    font-size: 16px;
  }

    #wrapper {
    }

    #wrapper.toggled {
        padding-right: 0;
    }

    /*#sidebar-wrapper {
        width: 100%;
        border-left: none;
        height: 100%;
        margin-right: -90%;
    }*/

    #sidebar-wrapper {
        top: 5%;
        z-index: 1000;
        position: fixed;
        right: 0px;
        width: 50%;
        height: 107vh;
        margin-right: 0px;
        overflow-x: hidden;
        background: #fff;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border-left: solid 1px #ededee;
    }


    #wrapper.toggled #sidebar-wrapper {
        width: 0;

    }
    #page-content-wrapper {
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {

        margin-left: 0;
    }


  body {
    background-color: #fff;
  }


    .ham-size {
    width: 30px;
    height: 30px;
    margin-right: 35px;
    margin-top: 20%;
    }


    .content-body {
      background: #fff;
      color: #777479;
      height: 100vh;
      width: 100vw;
      margin-top: 19%;
      overflow: visible;
      margin-right: -25%;
}

  .page-header {
    font-size: 18px;
  }

  .in-title {
    font-size: 16px;
  }
    p.para-content {
      font-size: 12px;
      line-height: 20px;
      text-align: right;
    }

    a.hamburger:hover, a.hamburger:visited, a.hamburger:active, a.hamburger:focus {
      background-color: transparent;
      border: none;
      color: white;
      box-shadow: none;
    }

    img.gifs {
      width: 150%;
      height: 150%;
    }

    .page-header {
      margin-top: .5%;
    }

    .close-btn {
    display:inline;
    width: 15px;
    height: 15px;}

.ext-left{
    float: left;
    margin-left: 60%;
    margin-top: 2%;
}

/*.video-content{
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}*/

}



/* from iPhone 6 and smaller */
@media only screen and (max-width:375px) {

  .top-title {
  margin-top: 11%;}

  #sidebar-wrapper {
      top: 6%;
      z-index: 1000;
      position: fixed;
      right: 0px;
      width: 50%;
      height: 106vh;
      margin-right: 0px;
      overflow-x: hidden;
      background: #fff;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      border-left: solid 1px #ededee;
  }

  .page-header {
    margin-top: 1%;
  }

  .ext-left{
      float: left;
      margin-left: 65%;
      margin-top: 2%;
  }
}

/* from iPhone 5 and smaller */
@media only screen and (max-width:320px) {


.logo {
  width: 170%;
  height: 170%;
}
#sidebar-wrapper {
    top: 6%;
    z-index: 1000;
    position: fixed;
    right: 0px;
    width: 62%;
    height: 106vh;
    margin-right: 0px;
    overflow-x: hidden;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-left: solid 1px #ededee;
}

  .ext-left{
      float: left;
      margin-left: 65%;
      margin-top: 2%;
  }
}
